<div class="graph">
    <div class="container">
        <h2 class="title title--color-yellow">График изменения</h2>

        <div class="graph__row">
            <div class="graph__itself">
                <canvas height="300"></canvas>
            </div>
            <div class="graph__filter">
                <div class="graph__filter-item">
                    <div class="graph__filter-item-title">Период</div>
                    <div class="dropdown dropdown--radio">
                        <div class="dropdown__title">
                            <span>День</span>
                            <img src="/img/arrow.png" alt="">
                        </div>

                        <div class="dropdown__list">
                            <div class="dropdown__list-item">День</div>
                            <div class="dropdown__list-item dropdown__list-item--active">Неделя</div>
                        </div>
                    </div>
                </div>
                <div class="graph__filter-item">
                    <div class="graph__filter-item-title">Монета</div>
                    <div class="dropdown">
                        <div class="dropdown__title">
                            <span>ZERO, CAPITAL</span>
                            <img src="/img/arrow.png" alt="">
                        </div>

                        <div class="dropdown__list">
                            <div class="dropdown__list-item">Bulldog</div>
                            <div class="dropdown__list-item dropdown__list-item--active">ZERO</div>
                            <div class="dropdown__list-item dropdown__list-item--active">CAPITAL</div>
                            <div class="dropdown__list-item">BIP</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>