<div class="navbar">
    <div class="container">
        <div class="navbar__line">
            <div class="logo navbar__logo">
                <a href="/"><img src="/img/logo.png" alt="Logotype"></a>
            </div>

            <div class="navbar__list">
                <a href="/" class="navbar__list-item navbar__list-item--active">Главная</a>
                <a href="/stats" class="navbar__list-item">Статистика</a>
                <a href="/blog" class="navbar__list-item">Блог</a>
                <a href="#" class="navbar__list-item navbar__list-item--lang">
                    <img src="/img/russia.svg" alt="">
                </a>
            </div>

            <div class="navbar__burger active">
                <img src="/img/burger.png" alt="">
            </div>
        </div>
    </div>
</div>