<div class="stats">
    <div class="container">
        <h2 class="title title--color-yellow text-center">Статистика инвестора</h2>

        <div class="stats__list">
            <div class="stats__list-item set-size">
                <div class="pie-wrapper progress-84">
                    <span class="label">6<br><span class="smaller">дней</span></span>
                    <div class="pie">
                        <div class="left-side half-circle"></div>
                        <div class="right-side half-circle"></div>
                    </div>
                </div>
            </div>
            <div class="stats__list-item">
                <div class="stats__list-item-img">
                    <img src="/img/rectangle.png" alt="">
                </div>
                <div class="stats__list-item-title">Комиссия ноды</div>
                <div class="stats__list-item-value">0.0000000012</div>
            </div>
            <div class="stats__list-item">
                <div class="stats__list-item-img">
                    <img src="/img/rectangle.png" alt="">
                </div>
                <div class="stats__list-item-title">Делигированный стейк</div>
                <div class="stats__list-item-value">1000 BIP</div>
            </div>
            <div class="stats__list-item">
                <div class="stats__list-item-img">
                    <img src="/img/rectangle.png" alt="">
                </div>
                <div class="stats__list-item-title">Прибыль в день</div>
                <div class="stats__list-item-value">100 BIP</div>
            </div>
            <div class="stats__list-item">
                <div class="stats__list-item-img">
                    <img src="/img/rectangle.png" alt="">
                </div>
                <div class="stats__list-item-title">Сумма наград</div>
                <div class="stats__list-item-value">10000 BIP</div>
            </div>
            <div class="stats__list-item">
                <div class="stats__list-item-img">
                    <img src="/img/rectangle.png" alt="">
                </div>
                <div class="stats__list-item-title">Суммы кэшбэка</div>
                <div class="stats__list-item-value">1000 BIP</div>
            </div>
        </div>
    </div>

    <div class="tabs">
        <div class="container">
            <div class="tabs__list">
                <div class="tabs__list-item tabs__list-item--active"><span>Награды</span></div>
                <div class="tabs__list-item"><span>Кэшбэк</span></div>
                <div class="tabs__list-item"><span>Комиссия</span></div>
                <div class="tabs__list-item"><span>Делегирование</span></div>
            </div>

            <div class="tabs__blocks">
                <div class="tabs__blocks-item">
                    <div class="table-wrap">
                        <form class="table__filter">
                            <div class="table__filter-value">Сумма: 10000 BIP</div>
                            <div class="table__filter-period">
                                <div class="table__filter-title">Период</div>
                                <input type="text" placeholder="дд.мм.гг">
                                <input type="text" placeholder="дд.мм.гг">
                            </div>
                            <div class="table__filter-coin">
                                <div class="table__filter-title">Монета</div>
                                <select id="coin-select" placeholder="Монета">
                                    <option value="all">Все</option>
                                    <option value="BTC">BTC</option>
                                    <option value="ZTC">ZTC</option>
                                </select>
                            </div>
                        </form>
                        <table class="table">
                            <tr>
                                <th>Дата</th>
                                <th>Блок</th>
                                <th>Монета</th>
                                <th>Количество</th>
                            </tr>
                            <tr>
                                <td>12.05.19</td>
                                <td>123654</td>
                                <td>CAPITAL</td>
                                <td>0.00001</td>
                            </tr>
                            <tr>
                                <td>12.05.19</td>
                                <td>123654</td>
                                <td>CAPITAL</td>
                                <td>0.00001</td>
                            </tr>
                            <tr>
                                <td>12.05.19</td>
                                <td>123654</td>
                                <td>CAPITAL</td>
                                <td>0.00001</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="tabs__blocks-item" style="display: none;">
                    <div class="table-wrap">
                        <form class="table__filter">
                            <div class="table__filter-value">Сумма: 10000 BIP</div>
                            <div class="table__filter-period">
                                <div class="table__filter-title">Период</div>
                                <input type="text" placeholder="дд.мм.гг">
                                <input type="text" placeholder="дд.мм.гг">
                            </div>
                            <div class="table__filter-coin">
                                <div class="table__filter-title">Монета</div>
                                <select id="coin-select" placeholder="Монета">
                                    <option value="all">Все</option>
                                    <option value="BTC">BTC</option>
                                    <option value="ZTC">ZTC</option>
                                </select>
                            </div>
                        </form>
                        <table class="table">
                            <tr>
                                <th>Дата</th>
                                <th>Блок</th>
                                <th>Монета</th>
                                <th>Количество</th>
                            </tr>
                            <tr>
                                <td>12.05.19</td>
                                <td>123654</td>
                                <td>CAPITAL</td>
                                <td>0.00001</td>
                            </tr>
                            <tr>
                                <td>12.05.19</td>
                                <td>123654</td>
                                <td>CAPITAL</td>
                                <td>0.00001</td>
                            </tr>
                            <tr>
                                <td>12.05.19</td>
                                <td>123654</td>
                                <td>CAPITAL</td>
                                <td>0.00001</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="tabs__blocks-item" style="display: none;">
                    <div class="table-wrap">
                        <form class="table__filter">
                            <div class="table__filter-value">Сумма: 10000 BIP</div>
                            <div class="table__filter-period">
                                <div class="table__filter-title">Период</div>
                                <input type="text" placeholder="дд.мм.гг">
                                <input type="text" placeholder="дд.мм.гг">
                            </div>
                            <div class="table__filter-coin">
                                <div class="table__filter-title">Монета</div>
                                <select id="coin-select" placeholder="Монета">
                                    <option value="all">Все</option>
                                    <option value="BTC">BTC</option>
                                    <option value="ZTC">ZTC</option>
                                </select>
                            </div>
                        </form>
                        <table class="table">
                            <tr>
                                <th>Дата</th>
                                <th>Блок</th>
                                <th>Монета</th>
                                <th>Количество</th>
                            </tr>
                            <tr>
                                <td>12.05.19</td>
                                <td>123654</td>
                                <td>CAPITAL</td>
                                <td>0.00001</td>
                            </tr>
                            <tr>
                                <td>12.05.19</td>
                                <td>123654</td>
                                <td>CAPITAL</td>
                                <td>0.00001</td>
                            </tr>
                            <tr>
                                <td>12.05.19</td>
                                <td>123654</td>
                                <td>CAPITAL</td>
                                <td>0.00001</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="tabs__blocks-item" style="display: none;">
                    <div class="table-wrap">
                        <form class="table__filter">
                            <div class="table__filter-value">Сумма: 10000 BIP</div>
                            <div class="table__filter-period">
                                <div class="table__filter-title">Период</div>
                                <input type="text" placeholder="дд.мм.гг">
                                <input type="text" placeholder="дд.мм.гг">
                            </div>
                            <div class="table__filter-coin">
                                <div class="table__filter-title">Монета</div>
                                <select id="coin-select" placeholder="Монета">
                                    <option value="all">Все</option>
                                    <option value="BTC">BTC</option>
                                    <option value="ZTC">ZTC</option>
                                </select>
                            </div>
                        </form>
                        <table class="table">
                            <tr>
                                <th>Дата</th>
                                <th>Блок</th>
                                <th>Монета</th>
                                <th>Количество</th>
                            </tr>
                            <tr>
                                <td>12.05.19</td>
                                <td>123654</td>
                                <td>CAPITAL</td>
                                <td>0.00001</td>
                            </tr>
                            <tr>
                                <td>12.05.19</td>
                                <td>123654</td>
                                <td>CAPITAL</td>
                                <td>0.00001</td>
                            </tr>
                            <tr>
                                <td>12.05.19</td>
                                <td>123654</td>
                                <td>CAPITAL</td>
                                <td>0.00001</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>