<div id="faq" class="faq">
    <div class="container">
        <h2 class="title title--color-black text-center">
            Часто задаваемые вопросы
        </h2>

        <div class="faq__list">
            <div class="faq__list-item">
                <div class="faq__list-item-title">
                    Что такое блокчейн и зачем
                    он вообще нужен?
                </div>
                <div class="faq__list-item-desc">
                    It is a long established fact that a reader will be distracted 
                    by the readable content of a page when looking at its layout. 
                    The point of using Lorem Ipsum is that it has a more-or-less 
                    normal distribution of letters, as opposed to using 'Content 
                    here, content here', making it look like readable English. 
                    Many desktop publishing packages and web page editors now use 
                    Lorem Ipsum as their default model text, and a search 
                </div>
            </div>

            <div class="faq__list-item">
                <div class="faq__list-item-title">
                    Что такое блокчейн и зачем
                    он вообще нужен?
                </div>
                <div class="faq__list-item-desc">
                    It is a long established fact that a reader will be distracted 
                    by the readable content of a page when looking at its layout. 
                    The point of using Lorem Ipsum is that it has a more-or-less 
                    normal distribution of letters, as opposed to using 'Content 
                    here, content here', making it look like readable English. 
                    Many desktop publishing packages and web page editors now use 
                    Lorem Ipsum as their default model text, and a search 
                </div>
            </div>

            <div class="faq__list-item">
                <div class="faq__list-item-title">
                    Что такое блокчейн и зачем
                    он вообще нужен?
                </div>
                <div class="faq__list-item-desc">
                    It is a long established fact that a reader will be distracted 
                    by the readable content of a page when looking at its layout. 
                    The point of using Lorem Ipsum is that it has a more-or-less 
                    normal distribution of letters, as opposed to using 'Content 
                    here, content here', making it look like readable English. 
                    Many desktop publishing packages and web page editors now use 
                    Lorem Ipsum as their default model text, and a search 
                </div>
            </div>

            <div class="faq__list-item">
                    <div class="faq__list-item-title">
                        Что такое блокчейн и зачем
                        он вообще нужен?
                    </div>
                    <div class="faq__list-item-desc">
                        It is a long established fact that a reader will be distracted 
                        by the readable content of a page when looking at its layout. 
                        The point of using Lorem Ipsum is that it has a more-or-less 
                        normal distribution of letters, as opposed to using 'Content 
                        here, content here', making it look like readable English. 
                        Many desktop publishing packages and web page editors now use 
                        Lorem Ipsum as their default model text, and a search 
                    </div>
                </div>
    
                <div class="faq__list-item">
                    <div class="faq__list-item-title">
                        Что такое блокчейн и зачем
                        он вообще нужен?
                    </div>
                    <div class="faq__list-item-desc">
                        It is a long established fact that a reader will be distracted 
                        by the readable content of a page when looking at its layout. 
                        The point of using Lorem Ipsum is that it has a more-or-less 
                        normal distribution of letters, as opposed to using 'Content 
                        here, content here', making it look like readable English. 
                        Many desktop publishing packages and web page editors now use 
                        Lorem Ipsum as their default model text, and a search 
                    </div>
                </div>
    
                <div class="faq__list-item">
                    <div class="faq__list-item-title">
                        Что такое блокчейн и зачем
                        он вообще нужен?
                    </div>
                    <div class="faq__list-item-desc">
                        It is a long established fact that a reader will be distracted 
                        by the readable content of a page when looking at its layout. 
                        The point of using Lorem Ipsum is that it has a more-or-less 
                        normal distribution of letters, as opposed to using 'Content 
                        here, content here', making it look like readable English. 
                        Many desktop publishing packages and web page editors now use 
                        Lorem Ipsum as their default model text, and a search 
                    </div>
                </div>
        </div>
    </div>
</div>