<div id="features" class="features">
    <div class="container">
        <h2 class="title title--color-black text-center">Преимущество нодов</h2>

        <div class="features__list">
            <div class="features__list-item">
                <div class="features__list-item-img">
                    <img src="/img/features/calc.png" alt="">
                </div>
                <div class="features__list-item-desc">
                    1% дается на любой стейк, на неделю, при ределегировании в ноду недельных ревардов в любой монете
                </div>
            </div>
            <div class="features__list-item">
                <div class="features__list-item-img">
                    <img src="/img/features/calc.png" alt="">
                </div>
                <div class="features__list-item-desc">
                    1% дается на любой стейк, на неделю, при ределегировании в ноду недельных ревардов в любой монете
                </div>
            </div>
            <div class="features__list-item">
                <div class="features__list-item-img">
                    <img src="/img/features/calc.png" alt="">
                </div>
                <div class="features__list-item-desc">
                    1% дается на любой стейк, на неделю, при ределегировании в ноду недельных ревардов в любой монете
                </div>
            </div>
            <div class="features__list-item">
                <div class="features__list-item-img">
                    <img src="/img/features/calc.png" alt="">
                </div>
                <div class="features__list-item-desc">
                    1% дается на любой стейк, на неделю, при ределегировании в ноду недельных ревардов в любой монете
                </div>
            </div>
        </div>

        <div class="button-center">
            <a href="/agreement" class="button button--bg-black">Полные условия</a>
        </div>
    </div>
</div>