<div class="footer">
    <div class="container">
        <div class="footer__list">
            <div class="footer__list-section">
                <div class="footer__list-section-title">
                    Главная
                </div>
                <a href="" class="footer__list-section-link">Общая информация</a>
                <a href="" class="footer__list-section-link">Характеристика нода</a>
                <a href="#team" class="footer__list-section-link">Команда</a>
                <a href="#features" class="footer__list-section-link">Преимущества</a>
                <a href="#faq" class="footer__list-section-link">Часто задаваемые вопросы</a>
            </div>
            <div class="footer__list-section">
                <div class="footer__list-section-title">
                    Статистика
                </div>
                <a href="" class="footer__list-section-link">Общая информация</a>
                <a href="" class="footer__list-section-link">Монеты</a>
                <a href="" class="footer__list-section-link">Кэшбэк</a>
                <a href="" class="footer__list-section-link">Комиссия</a>
                <a href="" class="footer__list-section-link">Вывод</a>
            </div>
            <div class="footer__list-section">
                <div class="footer__list-section-title">
                    Блог
                </div>
                <a href="" class="footer__list-section-link">Общая информация</a>
                <a href="" class="footer__list-section-link">Характеристика нода</a>
                <a href="" class="footer__list-section-link">Команда</a>
                <a href="" class="footer__list-section-link">Преимущества</a>
                <a href="" class="footer__list-section-link">Часто задаваемые вопросы</a>
            </div>
            <div class="footer__list-section">
                <div class="footer__logo">
                        <a href="/"><img src="/img/logo-2.png" alt="Logotype"></a>
                </div>
            </div>
        </div>
    </div>
</div>