<div class="header">
    <div class="container">
        <div class="header__bg-mob">
            <img src="/img/bg/header.png" alt="">
        </div>
        <div class="header__title">Minter Capital</div>
        <div class="header__subtitle">Надежные инвестиции в будущее</div>
    
        <a href="#key" class="button button--bg-yellow button--shadow popup__opener">Узнать больше</a>
    </div>
</div>