<div id="key" class="key">
    <div class="container">
        <h2 class="title title--color-yellow text-center">Публичный ключ базы</h2>
    </div>

    <div class="key__wrap">
        <div class="container">
            <div class="key__list">
                <div class="key__list-item">
                    <div class="key__list-item-caption">Стек ноды</div>
                    <div class="key__list-item-number">1 250 000</div>
                </div>
                <div class="key__list-item">
                    <div class="key__list-item-caption">Минимальный стек</div>
                    <div class="key__list-item-number">75</div>
                </div>
                <div class="key__list-item">
                    <div class="key__list-item-caption">Прибыль в день</div>
                    <div class="key__list-item-number">0.005</div>
                </div>
                <div class="key__list-item">
                    <div class="key__list-item-caption">Монета CAPITAL</div>
                    <div class="key__list-item-number">0.067</div>
                </div>
            </div>
        </div>
    </div>
</div>