<div class="mission">
    <div class="container">
        <div class="mission__img">
            <img src="/img/bg/truck.png" alt="">
        </div>

        <h2 class="title title--color-yellow title--underlined text-center">Наша миссия</h2>

        <p class="mission__pg">
            Развиваться внутри сети Minter и делать продукты, которые будут расширять возможности сообщества.
            Создать максимально дружественное комьюнити вокруг нашей ноды, которое будет нести пользу всей сети Minter. 
            В ближайших планах: создание более удобного и информативного сайта для делегаторов в нашу ноду.
        </p>
    </div>
</div>