<!-- Pop-up example 
<div class="pop-up" data-pop-up="success">
    <div class="pop-up__panel">
        <div class="pop-up__close">
            +
        </div>
            
        <div class="pop-up__title">Спасибо!</div>
        <div class="pop-up__desc">
            Мы получили Вашу заявку, и в ближайшее время с Вами свяжемся.
        </div>	
    </div>
</div>


<div class="pop-up" data-pop-up="dynamic">
    <div class="pop-up__panel">
        <div class="pop-up__close">
            +
        </div>

        <div class="pop-up__title"></div>
        <div class="pop-up__desc">
        </div>

        <form class="form form--dark pop-up__form">
            <div class="form__input">
                <input type="text" placeholder="Имя" name="name">
            </div>
            <div class="form__input">
                <input class="mask-phone" type="text" placeholder="Телефон" name="phone">
            </div>
            <div class="form__input">
                <input type="text" placeholder="E-mail" name="email">
            </div>

            <button type="submit" class="button button--bg-pink"><span>Отправить</span></button>
        </form>
    </div>
</div>
-->