<div id="team" class="team">
    <div class="container">
        <h2 class="title title--color-black text-center">Наша команда</h2>

        <div class="team__list">
            <div class="team__list-item">
                <div class="team__list-item-img">
                    <img src="/img/team/alex.png" alt="">
                </div>
                <div class="team__list-item-name">Александр Макаренко</div>
                <div class="team__list-item-pg">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                </div>
            </div>
            <div class="team__list-item">
                <div class="team__list-item-img">
                    <img src="/img/team/viktor.png" alt="">
                </div>
                <div class="team__list-item-name">Виктор Медведев</div>
                <div class="team__list-item-pg">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                </div>
            </div>
            <div class="team__list-item">
                <div class="team__list-item-img">
                    <img src="/img/team/kirill.png" alt="">
                </div>
                <div class="team__list-item-name">Кирилл Гусанович</div>
                <div class="team__list-item-pg">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                </div>
            </div>
        </div>
    </div>
</div>